* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  padding: 3rem 6rem;
  background-color: #1a1a1a;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.logo img {
  width: 50px;
}

.name {
  display: flex;
  align-items: center;
  color: #00ccff;
  font-weight: 700;
  font-size: 20px;
}

.name a:nth-child(2) {
  padding-left: 1.2rem;
  text-decoration: none;
  color: #00ccff;
}

.topContactInfo ul {
  display: flex;
  list-style: none;
}

.topContactInfo ul li {
  padding: 20px;
}

.topContactInfo ul li:nth-child(4) {
  padding-right: 0;
}

.topContactInfo ul li .icon {
  width: 30px;
  font-size: 20px;
  color: #00ccff;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 4rem;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  color: #00ccff;
}

.profileText p {
  color: #fff;
  word-spacing: 2px;
  line-height: 25px;
  padding-top: 5px;
}

.profileText p a {
  color: #00ccff;
  text-decoration: none;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contactInfo p {
  color: #fff;
  line-height: 25px;
}

.contactInfo ul {
  align-items: left;
}

.contactInfo ul li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #00ccff;
}

.contactInfo ul li a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.acknowledgements {
  width: 100%;
  margin: 2rem 0;
}

.acknowledgements h2 {
  padding-bottom: 1rem;
  margin-top: 4rem;
  color: #fff;
}

.acknowledgements p {
  color: #fff;
  padding-bottom: 1rem;
  word-spacing: 2px;
}

.acknowledgements p a {
  color: #00ccff;
  text-decoration: none;
}

.acknowledgements ul {
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 4px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acknowledgements ul a {
  width: 200px;
}

.acknowledgements ul a img {
  width: 100%;
}

.acknowledgements ul a img:hover {
  cursor: pointer;
  box-shadow: #1a1a1a;
}

.skills ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  justify-content: left;
}

.skills ul li {
  padding-right: 2rem;
  color: #fff;
}

.skills ul li::before {
  content: "\2022";
  color: #00ccff;
  padding-right: 10px;
}

.skills h2 {
  color: #fff;
  font-weight: 500;
  font-weight: bold;
  margin-top: 4rem;
  padding-bottom: 10px;
  line-height: 1.4em;
}

.contactHead {
  margin-top: 4rem;
  padding-bottom: 10px;
  line-height: 1.4em;
  color: #fff;
}

.foot {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
  color: #fff;
}

@media (max-width: 880px) {
  .acknowledgements ul a {
    width: 120px;
  }
}

@media (max-width: 800px) {
  .acknowledgements ul a {
    width: 120px;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 1rem 3rem;
    width: 100%;
  }

  .acknowledgements {
    margin: 2rem 0;
  }

  .acknowledgements ul {
    border-radius: 3px;
    padding: 0.5rem 1rem;
  }

  .acknowledgements ul a {
    width: 150px;
  }
}

@media (max-width: 656px) {
  .acknowledgements ul a {
    width: 100px;
  }
}

@media (max-width: 575px) {
  .skills ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 30px;
  }
}

@media (max-width: 520px) {
  .name {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    /* justify-content: space-between; */
  }

  .topContactInfo {
    display: none;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 1.2rem;
  }
}


@media (max-width: 430px) {
  .acknowledgements {
    margin: 2rem 0;
  }

  .acknowledgements ul {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    border-radius: 3px;

    justify-content: space-around;
    padding: 0.5rem 1rem;
    height: 30vh;
  }

  .acknowledgements ul a {
    width: 100px;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 1.1rem;
  }

  .skills ul {
    align-items: left;
    justify-content: left;
    line-height: 30px;
  }
}

@media (max-width: 322px) {
  .container {
    padding: 1.2rem;
  }

  .name {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .profileText h2 span {
    display: flex;
    flex-wrap: wrap;
  }

  .acknowledgements ul {
    height: 25vh;
  }
}
